/* Styling for the header container */
 .header-container {
  background-color: wheat; 
    position: relative;
    text-align: center;
    color: #a12626; 
    padding: 7px ;
  }
   
  /* Styling for the header image */
  .header-image {
    width: 50%;
    height: auto;
    margin: 15px;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 10px;

  }
  
  /* Styling for the header text */
  .header-text {
    position: absolute;
    top: 40%;
    left: 68%;
    transform: translate(-35%, -35%);
    z-index: 2;
  }
  
  .header-text h2 {
    font-size: 22px;
    margin: 0;
  }
  
  .header-text p {
    font-size: 18px;
    margin-top: 10px;
  }
  