<div class="filter">
    <span class="filter-text">Filter: </span>
    <input type="radio" name="filter" value="All" 
    [(ngModel)]="selectradiobuttonvalue"
    (change)="onRadioButtonSelectionchange()"/>
    <span >All products ({{All}})</span>

    <input type="radio" name="filter" value="Available" 
    [(ngModel)]="selectradiobuttonvalue"
    (change)="onRadioButtonSelectionchange()" />
    <span >Free products ({{Free}})</span>

    <input type="radio" name="filter" value="Premium" 
    [(ngModel)]="selectradiobuttonvalue"
    (change)="onRadioButtonSelectionchange()" />
    <span >Premium products ({{Premuim}})</span>
  
</div>
