.search{
    margin-top: 25px;
    padding-bottom: 10px;
    border-radius: 10px;
    text-align: center;

}
.search-word{
    margin-right: 10px;
    font-size:  28px ;
}
.search input{
    border-radius:10px ;
    width: 25%;

}
